<!-- app/views/companies/index.html.erb -->
<div class="container">
  <h1 class="text-center mt-5 mb-4">Company Index Page</h1>
  
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <% @companies.each do |company| %>
      <div class="col mb-4">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title mb-4"><%= company.legal_name %></h5>
            <p class="card-text"><strong>Address:</strong> <%= company.address %></p>
            <p class="card-text"><strong>Email:</strong> <%= company.email %></p>
            <p class="card-text"><strong>Primary Phone:</strong> <%= company.primary_phone %></p>
            <p class="card-text"><strong>Primary Contact Name:</strong> <%= company.primary_contact_name %></p>
            <p class="card-text"><strong>Status:</strong> <%= company.review_status.capitalize %></p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <%= link_to 'View', company, class: 'btn btn-primary btn-sm me-md-2' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
