<%= form_with(model: @company, local: true) do |form| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>
      <ul>
        <% @company.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :legal_name %>
    <%= form.text_field :legal_name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label :primary_phone %>
    <%= form.telephone_field :primary_phone %>
  </div>

  <div class="field">
    <%= form.label :primary_contact_name %>
    <%= form.text_field :primary_contact_name %>
  </div>

  <div class="field">
    <%= form.label :primary_contact_phone %>
    <%= form.telephone_field :primary_contact_phone %>
  </div>

  <h3>Documents</h3>
  <%= form.fields_for :documents do |document_fields| %>
    <div class="field">
      <%= document_fields.label :doc_type %>
      <%= document_fields.text_field :doc_type %>
    </div>

    <div class="field">
      <%= document_fields.label :file %>
      <%= document_fields.file_field :file %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
